<div id="cat-index" class="container-fluid col-md-6 offset-md-3 h-100">
  <%= render partial: 'shared/navbar' %>
  <h1 style="text-align: center;">Categories Index</h1>
  <div class="mx-2 h-80" style="width: auto">
    <ul class="list-unstyled" style="width: 100%;">
      <% @categories.each do |category| %>
        <li style="display: flex; justify-content: space-between;">
          <% if category.icon.nil? %>
            <%= link_to image_tag('icons/default_logo.png', style: 'width: 32px; height: 32px;', class: 'icon'),
              user_category_expenses_path(current_user, category) %>
          <% else %>
            <%= link_to image_tag(category.icon, style: 'width: 32px; height: 32px;', class: 'icon'),
              user_category_expenses_path(current_user, category) %>
          <% end %>
          <span class="h4 link-underline-opacity-0"><%= link_to category.name,
            user_category_expenses_path(current_user, category) %></span>
          <span>$<%= category.total_expenses %></span>
          <span><%= button_to "X", class:"btn btn-outline-danger" %></span>
        </li>
      <% end %>
    </ul>
  </div>
  <p style="mr-3">
    <strong>
      <%= link_to "New category", new_user_category_path(current_user), class: "btn btn-primary",
        style: "width: 100%" %>
    </strong>
  </p>
</div>
