<div id="cat-new" class="container-fluid h-100;" style="width: 90%;">
  <%= render partial: 'shared/navbar' %>
  <%= render partial: 'shared/back_button' %>
  <div>
    <h2 class="fw-bold" style="text-align: center; font-family: proxima-nova, sans-serif;
      margin-bottom: 30px;">New Category</h2>
    <%= form_with(model: [@user, @category], url: user_categories_path(current_user)) do |form| %>
      <table>
        <tr>
          <td style="width: 20%;"><%= form.label :name, class: "label" %></td>
          <td style="width: 80%;"><%= form.text_field :name, class: "text-field" %></td>
        </tr>
        <tr>
          <td style="width: 20%;"><%= form.label :icon, class: "label" %></td>
          <td><%= form.select :icon, options_for_select(@icon_options), {}, id: "icon", class: "form-control" %></td>
        </tr>
        <tr style="display: none;">
          <td style="width: 20%;"><%= form.label :total_expenses, class: "number" %></td>
          <td><%= form.text_field :total_expenses, class: "numeric-field", value: "0" %></td>
        </tr>
      </table>
      <% if can? :create, Category %>
        <div>
          <strong>
            <%= form.submit "Add Category", class: "btn btn-primary", style: "width: 100%; margin-top: 140px;" %>
          </strong>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
