<div id="exp-index" class="container-fluid col-sm-12 h-100">
  <div style="background-color: #3778c2; height: 25px;">
  </div>
  <div style="background-color: #3778c2;">
    <% unless current_page?('/') %>
      <% if current_page?(new_user_category_path) %>
        <%= link_to '&#11104;', user_categories_path(current_user), class: 'fw-bold text-secondary link-offset-1-hover
          link-underline link-underline-opacity-0 link-underline-opacity-75-hover',
          style: 'font-size: 2rem; border: none; color: white; margin-left: 1rem' %>
      <% else %>
        <% if current_page?(user_category_expenses_path)%>
          <%= link_to '&#11104;', user_categories_path(current_user), class: 'fw-bold text-secondary link-offset-1-hover
            link-underline link-underline-opacity-0 link-underline-opacity-75-hover',
            style: 'font-size: 2rem; border: none; color: white; margin-left: 1rem' %>
        <% else %>
          <% if current_page?(new_user_category_expense_path)%>
            <%= link_to '&#11104;', user_category_expenses_path(current_user, @category), class: 'fw-bold text-secondary
            link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover',
            style: 'font-size: 2rem; border: none; color: white; margin-left: 1rem' %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <span>DETAILS</span>
  </div>
  <p class="mb-0 pb-0" style="text-align: center; font-family: proxima-nova, sans-serif;">
    Expenses for:</p>
  <h4 class="fw-bold mb-0 pb-0" style="text-align: center; font-family: proxima-nova, sans-serif;">
    <%= @category.name %></h4>
  <h4 class="fw-bold" style="text-align: center; font-family: proxima-nova, sans-serif; margin-bottom: 15px;">
    Total Expenses: <%= number_to_currency(@category.total_expenses, precision: 2)%></h4>
  <div class="container2">
    <table class="table">
      <thead>
        <tr class="bg-white">
          <th>Name</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @expenses.each do |expense| %>
          <tr class="bg-white my-1">
            <td><%= expense.name %></td>
            <td><%= number_to_currency(expense.amount, precision: 2) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if can? :create, Expense %>
      <%= link_to "Add Expense", new_user_category_expense_path(current_user, @category), class: "btn btn-primary",
      style: "width: 100%; margin-top: 90px; position: absolute; bottom: 0;" %>
    <% end %>
  </div>
</div>
