<div class="container-fluid h-100">
  <%= render partial: 'shared/navbar' %>
  <%= render partial: 'shared/back_button' %>
  <h2 style="text-align: center;">Expenses for: <%= @category.name %></h2>
  <h4 style="text-align: center;">Total Expenses: <%= number_to_currency(@category.total_expenses, precision: 2)%></h4>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @expenses.each do |expense| %>
          <tr>
            <td><%= expense.name %></td>
            <td><%= number_to_currency(expense.amount, precision: 2) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to "Add Expense", new_user_category_expense_path(current_user, @category), class: "btn btn-primary",
      style: "width: 100%" %>
  </div>
</div>
