<div class="container-fluid h-100">
  <%= render partial: 'shared/navbar' %>
  <div class="container col-md-6 offset-md-3">
    <h3>New Expense for: <%= @category.name %></h3>
    <%= form_with(model: [@category, @expense], url: user_category_expenses_path(current_user, @category)) do |form| %>
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div><br />
      <div class="form-group">
        <%= form.text_field :amount, class: "form-control", pattern: "[0-9]+([\.,][0-9]+)?" %>
      </div><br />
      <%= form.submit "Create Expense", class: "btn btn-primary", style: "width: 100%" %>
    <% end %>
  </div>
</div>
